@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <h1 class="display-4">Bienvenido @ViewData["nombreUsuario"]</h1>
    <img src="@ViewData["fotoPerfil"]" alt="Foto de perfil" style="width: 200px; height: 200px; border-radius: 50%;" />
</div>
